@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon-141209.eot');
    src:url('../fonts/icomoon-141209.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-141209.ttf') format('truetype'),
    url('../fonts/icomoon-141209.woff') format('woff'),
    url('../fonts/icomoon-141209.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}