#WMDE_BannerFullForm-step1 {
    /*display: none;*/
}

#WMDE_BannerFullForm-step2 {
    display: none;
}

#WMDE_BannerFullForm-nosepa {
    display: none;
}

#WMDE_BannerFullForm-company {
    display: none;
}

#WMDE_BannerFullForm-details {
    display: none;
}

#WMDE_BannerFullForm-arrow {
    display: none;
    height: 27px;
    background: transparent url('../img/form-arrow-down.png') no-repeat scroll right top;
    margin-right: 19px;
}

#WMDE_BannerFullForm {
    position: absolute;
    right: 21px;
    margin-top: 0;
}

#WMDE_BannerFullForm hr {
    width: 248px;
}

#WMDE_BannerFullForm table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

#WMDE_BannerFullForm td {
    background: #eef0fc;
    margin: 0;
    padding: 8px 8px 0 8px;
    font-size: 13px;
    white-space: nowrap;
}

td#WMDE_BannerFullForm-wrapper {
    background: transparent;
    width: 248px;
    padding: 0;
}

#WMDE_BannerFullForm-payment td {
    font-weight: bold;
    padding: 4px 8px 0 8px;
}

#WMDE_BannerFullForm-payment .amount-options td {
    padding: 2px;
}

#WMDE_BannerFullForm-payment .amount-label {
    width: 36px;
    line-height: 22px;
}

#WMDE_BannerFullForm-payment .amount-radio {
    margin: 3px 0 0 3px;
}

#WMDE_BannerFullForm-payment #amount-other-input {
    width: 36px;
}

#WMDE_BannerFullForm-payment button {
    cursor: pointer;
    display: inline-block;
    font-size: 13px !important;
    font-weight: bold;
    width: 110px;
    border: 3px double #ddd;
    border-radius: 8px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.5);
    margin: 0 1px;
}

#WMDE_BannerFullForm-payment button.active {
    color: #FF6C00;
    background: #e5e5e5; /* Old browsers */
    background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
    box-shadow: none;
}

#WMDE_BannerFullForm-payment button:hover {
    color: #0645ad;
}

#WMDE_BannerFullForm td.form-heading {
    font-weight: bold;
    font-size: 13px;
    height: 9px;
    padding: 0;
    background-color: #dad9ed
}

#WMDE_BannerFullForm span.form-heading-text {
    line-height: 9px;
    margin-left: 9px;
    padding: 0 9px;
    background-color: #eef0fc
}

#WMDE_BannerFullForm label.salutation-label {
    margin-right: 21px;
}

#WMDE_BannerFullForm label.address-label {
    margin-right: 3px;
}

#WMDE_BannerFullForm input[type=text], #WMDE_BannerFullForm input[type=tel], #WMDE_BannerFullForm select {
    width: 244px;
}

#WMDE_BannerFullForm input.small-input, #WMDE_BannerFullForm select.small-input {
    width: auto;
    max-width: 111px;
}

#WMDE_BannerFullForm #send-information {
    float: left;
    margin-top: 7px;
    margin-bottom: 12px;
}

#WMDE_BannerFullForm #send-information-label {
    float: left;
    margin-top: 7px;
    margin-left: 4px;
    white-space: normal;
    display: block;
    width: 210px;
    margin-bottom: 12px;
}

#WMDE_BannerFullForm .icon-question-sign {
    position: relative;
    right: -227px;
    margin-top: 7px;
    margin-left: 6px;
    background: transparent url('../img/form-info-icon.png') no-repeat scroll center center;
    width: 14px;
    height: 14px;
    display: block;
}

#WMDE_BannerFullForm button[type="submit"] {
    background: #ffff00 url('../img/form-submit-ok.png') scroll 2px center;; /* Old browsers */
    background: -moz-linear-gradient(top, #ffff00 0%, #e5e500 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffff00), color-stop(100%, #e5e500)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffff00 0%, #e5e500 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffff00 0%, #e5e500 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffff00 0%, #e5e500 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffff00 0%, #e5e500 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#e5e500', GradientType=0); /* IE6-9 */
    border: 0 none;
    border-radius: 5px;
    color: #000;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    width: 248px;
    height: 25px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 15px;
}

#WMDE_BannerFullForm-finish {
    padding-right: 19px;
}

#WMDE_BannerFullForm-finish .mark-ok {
    width: 17px;
    height: 13px;
    position: absolute;
    margin-left: 2px;
    background: transparent url('../img/form-submit-ok.png') scroll center center;
}

#WMDE_BannerFullForm div.form-field-error-box {
    margin-left: -30%;
    position: absolute;
}

#WMDE_BannerFullForm span.form-field-error-text {
    border: 1px solid #C25959;
    border-radius: 4px;
    background: #FFFFFF url('../img/form-error-excl.png') no-repeat scroll 2px center;
    color: #C25959;
    padding: 2px 2px 2px 18px;
    font-size: 13px;
}

#WMDE_BannerFullForm div.form-field-error-arrow {
    position: relative;
    top: -2px;
    background: transparent url('../img/form-arrow-error.png') no-repeat scroll center center;
    width: 14px;
    height: 8px;
    margin: auto;
}

#WMDE_BannerFullForm .validation {
    position: absolute;
    height: 11px;
    width: 11px;
    margin-left: -15px;
    margin-top: 3px;
}

#WMDE_BannerFullForm .icon-bug {
    background: transparent url('../img/form-input-error.png') no-repeat scroll center center;
}

#WMDE_BannerFullForm .icon-ok {
    background: transparent url('../img/form-input-valid.png') no-repeat scroll center center;
}

#WMDE_BannerFullForm-close {
    background-color: #eef0fc;
    text-align: center;
    width: 90px;
    height: 20px;
    margin: -2px auto auto;
    border-radius: 4px;
    cursor: pointer;
}

#WMDE_BannerFullForm p {
    white-space: normal;
    margin: 15px 5px;
}

#WMDE_BannerFullForm a {
    color: black;
    text-decoration: underline;
}

#WMDE_BannerFullForm-step2 {
    margin-top: 12px;
}

#confirm_sepa, #confirm_shortterm {
    margin: 1px 3px 0 0;
    float: left;
}

#confirm_sepa {
    margin-bottom: 240px;
}

#confirm_shortterm {
    margin-bottom: 90px;
}
